.menu-udvidelser{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex:1;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    gap: 20px;
}

.slider{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 60%;
}


.slider-num-answers{
    width: 50%;
}
