.menu-udvidelser{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex:1;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.menu-udvidelser-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.slider{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.slider-num-answers{
    width: 50%;
}
