.udvidelser{
    display: flex;
    flex:1;
    align-self: stretch;
    flex-direction: column;
    justify-content: space-between;
}

.answerButtons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 2em;
}


.footer{
   display:flex;
   justify-content: space-between;
}

.checkboxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 32px;
}

.checkBoxGroup{
    display: flex;
    flex-direction: column;
}

.chordButtons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
