.udvidelser{
    display: flex;
    flex-direction: column;
}

.answerButtons{
    display: grid;
}

.footer{
   display:flex;
   justify-content: space-between;
   margin-top: auto;
}

.checkboxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 32px;
}

.checkBoxGroup{
    display: flex;
    flex-direction: column;
}

.chordButtons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
